In [1]:
# import Dependencies
import pandas as pd
import os

In [2]:
# Reading the data
load_data = os.path.join("vine_table_data.csv")
vine_data_df = pd.read_csv(load_data, encoding="ISO-8859-1")

In [3]:
# Displaying the Data
vine_data_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N
...,...,...,...,...,...,...
3105515,R1U2RAML67OKWM,4.0,9.0,9.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N
3105517,RPLV77JZXG575,4.0,4.0,4.0,N,N
3105518,RHL4UW17ZK72A,5.0,9.0,9.0,N,N
3105519,R34N4QWDXX58WB,4.0,12.0,13.0,N,N

In [4]:
# Checking Data for vine == "Y" 
vine_data_df[vine_data_df["vine"] == "Y"]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
59102,R2NKNL4WXWIWBG,4.0,3.0,3.0,Y,Y
1198651,RAIG9ZQDMBF5P,5.0,3.0,6.0,Y,N

In [5]:
# Total number of votes greater than or equal to 20
total_votes_filtered_df = vine_data_df[vine_data_df["total_votes"] >= 20]
total_votes_filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [6]:
# Number of votes greater than or equal to 50%
votes_greater_df = total_votes_filtered_df[(total_votes_filtered_df["helpful_votes"]/total_votes_filtered_df["total_votes"]) >= 0.5]
votes_greater_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [7]:
# Review was written as part of the Vine program (paid), vine == 'Y'.
vine_paid_df = votes_greater_df[votes_greater_df["vine"] == "Y"]
vine_paid_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [8]:
# Review was written not as a part of the Vine program (unpaid), vine == 'N'.
vine_unpaid_df = votes_greater_df[votes_greater_df["vine"] == "N"]
vine_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105453,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105473,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105479,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105507,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105516,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [9]:
# The number of reviews for paid program
number_reviews_paid = vine_paid_df["review_id"].count()
print(f"The number of reviews for paid program are {number_reviews_paid}")

The number of reviews for paid program are 0

In [10]:
#The number of reviews for un-paid program
number_reviews_unpaid = vine_unpaid_df["review_id"].count()
print(f"The number of reviews for un-paid program are {number_reviews_unpaid}")

The number of reviews for un-paid program are 403807

In [11]:
# Calulate the number of 5 star reviews for unpaid program
number_5star_unpaid = vine_unpaid_df[vine_unpaid_df["star_rating"] == 5]
count_unpaid = number_5star_unpaid["star_rating"].count()
print(f"The number of 5 star reviews for unpaid program are {count_unpaid}")

The number of 5 star reviews for unpaid program are 242889

In [12]:
# Calculate the percentage of 5 star reviews for unpaid program
percent_unpaid = round(count_unpaid/number_reviews_unpaid *100, 2)
print(f"The percentage of 5 star reviews for unpaid program is {percent_unpaid}%")

The percentage of 5 star reviews for unpaid program is 60.15%